body {
    font-family: Lato;
    color: white;
    background-color: black;
}

h1,h2,h3,h4,h5,h6,ul,p {
    margin-right: 50px;
    margin-left: 50px;
}

#header-name {
    line-height: 0px;
    margin-top: 50px;
}

.nbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nbar-el {
    float: left;
}

.nbar-el-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nbar-el-a:hover {
    background-color: #111;
}
