/* This button style is for small buttons */

.btn-sml-anchor {
    flex-direction:column;
    text-align: center;
    scale: 75%;
}

.btn-sml-container {
    display: flex;
    gap: 20%;
}

.btn-sml {
    appearance: none;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.btn-sml:hover {
    color: #000000;
    border: 2px solid #000000;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.btn-sml:active {
    box-shadow: none;
    transform: translateY(0);
  }

.btn-sml:disabled {
    pointer-events: none;
}

/* This button style is for large buttons */

.btn-lrg-anchor {
    text-align: center;
}

.btn-lrg-container {
    padding-left: 25%;
    padding-right: 25%;
}

.btn-lrg {
    appearance: none;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.btn-lrg:hover {
    color: #000000;
    border: 2px solid #000000;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.btn-lrg:active {
    box-shadow: none;
    transform: translateY(0);
  }

.btn-lrg:disabled {
    pointer-events: none;
}
